body{
    margin: 0;
}

/*CAJA*/
.box{
    width: 100px;
    height: 100px;
    background: rgb(130, 37, 223);
    margin: 10px;
}
.box-default{
    padding: 25px;
    border: 10px solid black;
}