/*CAJA*/
div{
    background: rgb(219, 129, 129);
    width: 150px;
    margin: auto;
    text-align: center;
    
    border-width: 5px; /*BORDE*/
    border-color: black; /*COLOR*/
    border-style: dashed; /*ESTILO*/
}
