
/* El PUNTO es para las clases */
p{
    color: rgb(255, 73, 6);
    
/* ES LA TIPOGRAFIA */
    font-family: Montserrat-ital;
/* TAMAÑO DEL TEXTO */
    font-size: 40px;
/* GROSOR DEL TEXTO */
    font-weight:800
}
h1{
    text-align: center;
}

body {
    background-color: rgb(206, 201, 255);
}
